@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
}

h1 {
    text-align: center;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('page.jpg');
    background-size: cover;
}
form{
    width: 20rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-radius: 30px;
    border-left: 1px soild rgba(255,255,255,.3);
    border-top: 1px soild rgba(255,255,255,.3);
}
label{
    font-size: 20px;
    color: black;
    margin-left: 10%;

    margin-top: 6%;
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 5%;
    border: 1px solid #ccc;
}
button {
    width: 50%;
    margin: 3% auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}