body {
    font-family: Arial, sans-serif;
}

.medicine-table, .invoice-table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

.medicine-table th:last-child, .invoice-table th:last-child,
.medicine-table td:last-child, .invoice-table td:last-child {
    text-align: center;
}

.invoice-table th {
    background-color: white;
}

form {
    margin-bottom: 15px;
}

button {
    padding: 5px 10px;
    background-color: wheat
}