body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image: url('page.jpg');
    background-size: cover;
}

h1, h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: azure;
}
table th {
    background-color: rgb(72, 205, 205);
    color: #555;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}