body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(page1.jpg);
    background-size: cover;
    color: #333;
}

h1 {
    font-size: 4rem;
    color: black;
    margin-bottom: 20px;
    margin-top: 10%;
}


table td {
    font-size: 25px;
    color: black;
}