
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selvi kumutham hosptial</title>
    <link rel="stylesheet" href="/static/afterlogin.css">
</head>
<body>
    <form1 name="PHARMACY" action="/" method="GET">
    <h1>Selvi Kumutham Hosptial</h1>
    <form action="/redirect1" method="GET">
        <button type="submit">Pdetails Update</button>
    </form>
    <form action="/redirect2" method="GET">
        <button type="submit">Bill Generation</button>
    </form>
    <form action="/redirect3" method="GET">
        <button type="submit">Stock Update</button>
    </form>
    <form action="/redirect4" method="GET">
        <button type="submit">Stock Details</details></button>
    </form>
    <form action="/redirect5" method="GET">
        <button type="submit">Patient Record</details></button>
    </form>
    </form1>
    
</body>
</html>
