<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basicpage</title>
    <link rel="stylesheet" href="/static/basicpage.css">
</head>
<body>
   <form name="basicpage" action="/" method="post">
    <label>Patient name</label>
    <input type="text" name="name">
    <label>Number</label>
    <input type="text" name="password">
    <button type="submit">Continue</button>
    
   </form>  
</body>
</html>