<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Patient Details</title>
    <link rel="stylesheet" href="/static/stockdetails1.css">
</head>
<body>
    <form action="/search1" method="POST">
        <h1>Get Stock Details</h1>
        <label for="tabletname">Tablet Name:</label>
        <input type="text" id="text" name="search_term" required>
        <button type="submit">Get Details</button>
    </form>
</body>
</html>